<% include ../partials/header %>
<% include ../partials/navbar %>

<div class="container">
    <h1>Add a New Comment to <%= campground.name %></h1>
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <!--<input type="text" name="comment[text]" class="form-control" placeholder="Comment Text">-->
                    <textarea type="text" name="comment[text]" class="form-control" placeholder="Comment"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">Submit</button>
                </div>
            </form>            
        </div>
    </div>


    
    <hr>
    
    <a href="/campgrounds">View All Campgrounds</a>

</div>




<% include ../partials/footer %>