.container {
    margin-top: 50px;
}

.footer {
    margin-top: 200px;
}


/*CAMPGROUND SHOW PAGE*/
/*=================================================*/
.caption-full {
    padding: 20px 20px 0px 20px; 
}