.container {
    margin-top: 20px;
}



/*ALERT MESSAGES*/
/*=================================================*/
.alert-messsages {
    margin-top: 50px;
}

/*CAMPGROUND SHOW PAGE*/
/*=================================================*/
.caption-full {
    padding: 20px 20px 0px 20px; 
}



.footer {
    margin-top: 200px;
}